*{
    font-size: 16px;
}
.section{
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Header CSS */
.header{
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 10;
    width: 100%;
}
.header__detail i, .header__detail span{
    font-size: 14px;
}
.header__navbar .nav-item .nav-link{
    color: white;
    font-size: 16px;
}
.header__navbar .navbar-nav{
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.header__navbar .nav-item{
    position: relative;
}
.header__navbar .nav-item::before{
    content: '';
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all 0.5s;
}
.header__navbar .nav-item.active:before, .header__navbar .nav-item:hover:before{
    width: 100%;
}
/* End Header CSS */

/* Carousel CSS */
.carousel-item__caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 25%;
}
.carousel-item__caption span{
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
}
.carousel-item__trailer span{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    line-height: 45px;
}
.btn-orange{
    background: linear-gradient(to right, #fbbd61, #ec7532);
    border-radius: 40px;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 11px 30px;
    cursor: pointer;
}
#myCarousel .carousel-indicators{
    bottom: 50px;
}
#myCarousel .carousel-indicators li{
    width: 11px;
    height: 11px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}
#myCarousel .carousel-indicators li.active{
    background-color: white;
}
/* End Carousel CSS */

/* New in CSS */
.movie{
    padding-top: 80px;
}
.movie__title{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    color: #ec7532;
}
.movie__title::before{
    content: '';
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    bottom: -1px;
    left: 0;
}
.movie__item{
    position: relative;
    overflow: hidden;
}
.movie__item img{
    border-radius: 10px;
}
.movie__overlay{
    position: absolute;
    top: 0;
    left: -400%;
    transform: skewX(45deg);
    width: 800px;
    height: 100%;
    background: linear-gradient(to bottom, #fbbd61, #ec7532);
    transition: all 0.5s;
}
.movie__item:hover .movie__overlay{
    left: -100%;
}
.movie__detail{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    left: 0;
    opacity: 0;
    transition: all 0.3s;
}
.movie__item:hover .movie__detail{
    opacity: 1;
    transform: translateY(-50%) scale(1);
}
.movie__detail i{
    width: 80px;
    height: 80px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid white;
    line-height: 80px;
    cursor: pointer;
}
.movie__detail a{
    font-size: 14px;
    letter-spacing: 2px;
}
.movie__detail span{
    font-size: 16px;
}
.movie__name{
    font-size: 18px;
}
.movie__star{
    color: #fbbd61;
}
/* End New in CSS */

/* Comming soon CSS */
.comming-movie{
    background-color: black;
    color: white;
}
.comming__bg{
    background: url('../img/slide-3.png') no-repeat center center;
}
.section-title{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    padding-bottom: 15px;
}
.section-title::before{
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 3px;
    content: "";
    width: 160px;
}
.comming__trailer .video:hover i{
    transform: scale(0.9);
}
.comming__trailer i{
    font-size: 40px;
    line-height: 75px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin: auto;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    text-align: center;
    text-indent: 10px;
    color: #fff;
    border: 2px solid #ec7532;
    border-radius: 50%;
}
.comming__list .slick-slide{
    margin: 0 15px;
    text-align: center;
    opacity: 0.35;
}
.comming__list .slick-slide:hover{
    opacity: 1;
    transition: all 1s;
}
.comming__list .slick-slide img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.release-date{
    font-size: 14px;
    opacity: .5;
    color: #fff;
}
/* Comming soon CSS */