.clr{
    clear: both;
}
#header #logoImg{
    width: 150px;
}
#navbar ul{
    list-style: none;
    background-color: black;
    padding: 10px;
}
#navbar li{
    display: inline;
    padding: 0 10px;
}
#navbar ul a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
#carousel #carouselImg{
    width: 100%;
}
#intro #title{
    color: red;
    font-weight: bold;
}
#intro #galary #left{
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box
}
#intro #galary #right{
    float: right;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
#intro #galary #left-item{
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box
}
#intro #galary #right-item{
    float: right;
    width: 50%;
    padding: 10px;
    box-sizing: border-box
}
#intro #galary #left img{
    width: 100%;
}
#intro #galary #right img{
    width: 100%;
    padding: 10px;
}
#best-saler h1{
    text-align: center;
}
#best-saler .product-best-saler{
    float: left;
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
}
#best-saler .product-best-saler img{
    width: 100%;
}
#best-saler .product-best-saler button{
    background-color: red;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}
#sale-off{
    margin-top: 15px;
    height: 300px;
    background-size: cover;
    background-image: url("../imgs/nature.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 1px;
}
#sale-off #sale-circle{
    margin-left: 20%;
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #c12341bd;
    text-align: center;
    padding: 10px;
    color: white;
}
footer{
    margin-top: 15px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;;
}